body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.controls {
  margin-bottom: 10px;
}

#diagram {
  margin-top: 20px;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text { 
  font: 12px sans-serif; 
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

#textInput {
  width: 80%;  /* Width of the text area */
  height: 150px; /* Height of the text area */
  margin: 10px 0; /* Add some margin around the text area */
  padding: 10px; /* Inner space for the text area */
  font-size: 16px; /* Adjust the font size if needed */
  border: 1px solid #ccc; /* Optional border */
  box-shadow: 2px 2px 4px #eee; /* Optional shadow for better visibility */
}

